{% extends "base.html" %} {% block content %} {% load static %}
<html>
  {%include "nav.html"%}
  <head>
  </head>
  <body>
    <div class="form-content my-3 p-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
              <div class="card-header justify-content-center">
                <div id="error_div"></div>
                <h3 class="font-weight-light my-4 text-center">
                  ¿Ha olvidado su contraseña?
                </h3>
              </div>
              {% if form.errors %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                  {% for key, value in form.errors.items %}
                  <strong>{{ value }}</strong>
                  {% endfor %}
                </div>
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                      <div class="form-group">
                        <label class="small mb-1" for="id_email"
                          >Introduzca su correo electrónico</label>
                        <input
                          type="email"
                          name="email"
                          class="form-control"
                          autocomplete="email"
                          maxlength="254"
                          required
                          id="id_email"
                          placeholder="Correo electrónico.."
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn login_btn" type="submit" value="Enviar" />
                  </div>
                </form>
              </div>
              <div class="card-footer text-center">
                <div class="d-flex justify-content-center mt-3 login_container">
                  <a href="{% url 'register' %}">Crear una nueva cuenta</a>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                  <a href="{% url 'login' %}">Volver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
