{% autoescape off %}
	Estás recibiendo este correo porque solicitaste restablecer tu contraseña en tu cuenta de RafaelaMusica"

	Por favor ingresa en la siguiente URL y escribe una nueva contraseña.
    {% block reset_link %}
       {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

    Tu usuario en caso que lo olvidaras: {{ user.username }}

    Muchas gracias por utilizar RafaelaMusica

    El Equipo de RafaelaMusica.
{% endautoescape %}