{% load static %}

<template id="audio-player-template">
    <div class="audio-player"> 
        <div class='img-cover-container'>

            <div class="cover-controls">

                <img class='img-cover'></img>

                <div class='controls'>
                    <button class='btn btn-prev'>
                        <i class="control-icon"></i>
                    </button>
                    <button class='btn btn-main'>
                        <i class="control-icon"></i>
                    </button>
                    <button class='btn btn-next'>
                        <i class="control-icon"></i>
                    </button>
                </div>

            </div>
            
            <p class='label-cover'></p>

        </div>
    </div>
</template>

<script type="module">
    
    import { client } from "{% static 'client.js' %}";
    import { AudioPlayer, Track } from "{% static 'audio-player/audio-player.js' %}";

    function loadAudioPlayers() {
        
        const audioPlayers = document.querySelectorAll('.audio-player-container'); 

        audioPlayers.forEach(container => {
            if (container.getAttribute('loaded')) {
                return;
            }

            const tracksApi = container.getAttribute('fetch-tracks');

            if (!tracksApi) {
                throw new Error(`"fetch-tracks" attribute is required for player.`);
            } 

            client.get(tracksApi)

                .then(response => {

                    let tracks = response.data || [];

                    if (!tracks.hasOwnProperty('length')) {
                        tracks = [tracks];
                    }

                    return tracks.map(data => new Track({
                        title: data.title,
                        coverSrc: data.cover,
                        audioSrc: data.audio,
                    }));

                })

                .then(tracks => new AudioPlayer(tracks)
                                    .create(container)
                                    .component.setAttribute('loaded', true));
        });

    }

    window.addEventListener('load', e => loadAudioPlayers());

</script>