{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="mt-1">
    <h1>{% trans "Sign Out" %}</h1>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
</div>

<div class="border-top pt-2">
    <div class="mt-4">
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</div>

{% endblock %}