
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="profile">

    <h1 class="profile-account-name">{{ user.username }}</h1>
    <p>{{ user.email }} ({% if user.is_verified %} verificado  {% else %} pendiente verificar {% endif %})</p>

    <a href="{% url 'home' %}" class="btn btn-outline-success me-2">{% trans "See my Feed" %}</a>

    {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="btn btn-outline-success me-2">{% trans "Administration" %}</a>
    {% endif %}
<div>
{% endblock %}